<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>570107869449-8lusefnqv2mhi04ehsisd851jbbfedj7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.570107869449-8lusefnqv2mhi04ehsisd851jbbfedj7</string>
	<key>API_KEY</key>
	<string>AIzaSyAV14i4oRfR3vp7iyfgtKz99jucbjGu7J0</string>
	<key>GCM_SENDER_ID</key>
	<string>570107869449</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>darren.com.example.flutterFlowermusic</string>
	<key>PROJECT_ID</key>
	<string>fluttermusic-c69f9</string>
	<key>STORAGE_BUCKET</key>
	<string>fluttermusic-c69f9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:570107869449:ios:aa232e8d359c3f51</string>
	<key>DATABASE_URL</key>
	<string>https://fluttermusic-c69f9.firebaseio.com</string>
</dict>
</plist>